extends layout.pug

block head
    link(rel="stylesheet" href="/stylesheets/dashboard.css")

block content
    header
        h1
            a.title(href='https://jh-node-proxy.herokuapp.com/') Node Server
    main
        content
            .activity
                h3.box-title Applications
                p Total requests: #{requests.length}
                .grid
                    .card
                        h5 NASA Image Search:
                            - let nasa = requests.filter(req => req.application === 'nasa')
                        span Requests: #{nasa.length}
                    .card
                        h5 Weather:
                            - let weather = requests.filter(req => req.application === 'weather')
                        span Requests: #{weather.length}
                    .card
                        h5 Profile:
                            - let profile = requests.filter(req => req.application === 'profile')
                        span Requests: #{profile.length}
                    .card
                        h5 Pyramids:
                            - let pyramids = requests.filter(req => req.application === 'pyramids')
                        span Requests: #{pyramids.length}
            hr
        aside
            .log
                h3.box-title Recent requests
                ul.list
                    - var n = requests.length - 1
                    while n > requests.length - 11
                        - let request = requests[n]
                        - var date = new Date(request.dateReceived)
                        - var day = date.getDate()
                        - var month = date.getMonth()
                        - var year = date.getFullYear()
                        - var dateString = (month + 1) + "-" + day + "-" + year;
                        li.list-item  #{request.application.charAt(0).toUpperCase() + request.application.slice(1)}
                            div #{dateString}
                        - n--
                p
                    a(href="https://mlab.com/databases/nody-proxy/collections/requests", target="_blank", rel="noopener noreferrer") View Raw Data on mLab
            hr
