extends layout.pug

block head
    link(rel="stylesheet" href="/stylesheets/dashboard.css")

block content
    header
        h1
            a.title(href='https://jh-node-proxy.herokuapp.com/') Node Server
    main
        content
            .activity
                h3.box-title Applications
                p Total requests: #{requests.length}
                .grid
                    .card
                        h5 NASA Image Search:
                            - let nasa = requests.filter(req => req.application === 'nasa')
                        span Requests: #{nasa.length}
                    .card
                        h5 Weather:
                            - let weather = requests.filter(req => req.application === 'weather')
                        span Requests: #{weather.length}
                    .card
                        h5 Profile:
                            - let profile = requests.filter(req => req.application === 'profile')
                        span Requests: #{profile.length}
                    .card
                        h5 Pyramids:
                            - let pyramids = requests.filter(req => req.application === 'pyramids')
                        span Requests: #{pyramids.length}
            hr
            .messages
                h3.box-title Messages
                - let unread = messages.filter(message => message.read === false)
                p.flex-around 
                    span Total messages: #{messages.length} 
                    span Unread: #{unread.length} 
                    span Read: #{messages.length - unread.length}
                .message-list
                    each message in messages
                        .message-item 
                            .flex-between.message-line
                                span
                                    span.text-label From: 
                                    span #{message.firstName} #{message.lastName}
                                span
                                    span.text-label Email: 
                                    a(href=`mailto:${message.email}`) #{message.email}
                            .message-line 
                                span.text-label Received: 
                                span #{message.dateReceived}
                            .message-line
                                span.text-label Message: 
                                span #{message.message}
                            .button-group
                                span placeholder for buttons

                        hr
            hr
        aside
            .log
                h3.box-title Recent requests
                ul.request-list
                    - var n = requests.length - 1
                    while n > requests.length - 11
                        - let request = requests[n]
                        - var date = new Date(request.dateReceived)
                        - var day = date.getDate()
                        - var month = date.getMonth()
                        - var year = date.getFullYear()
                        - var dateString = (month + 1) + "-" + day + "-" + year;
                        li.request-item  #{request.application.charAt(0).toUpperCase() + request.application.slice(1)}
                            div #{dateString}
                        - n--
                p
                    a(href="https://mlab.com/databases/nody-proxy/collections/requests", target="_blank", rel="noopener noreferrer") View Raw Data on mLab
            hr
            .links
                h3.box-title Links
                ol
                    li
                        a(href="https://github.com/Jheller11/proxy" target='_blank') Source Code (Github)
                    li
                        a(href="https://mlab.com/" target='_blank') mLab
                    li
                        a(href="https://dashboard.heroku.com/apps" target='_blank') Heroku
            hr
