extends layout.pug

block head
    

block content
    h1 Node Server
    div
        h4 Server Home Page
        p 
            a(href="https://github.com/Jheller11/proxy" target='_blank') View on Github
    hr
    div
        h4 Admin Login
        if message
            div.alertMessage #{message}
        form(method='POST' action='/admin/dashboard')
            label(for='password') Enter Password: 
            input(type='password' name='password' minlength=5 required)
            button(type='submit') Submit
    hr
    div
        h4 Project List
        ol
            each project in projects
                li.projectItem
                    .title #{project.name}
                    a(href=`${project.url}` target='_blank') View (external)
                    div Access Point: #{project.access}
                    div Completed: #{project.completed}
                    div API's Used: 
                    ul
                        each api in project.apis
                            li 
                                div #{api.name} 
                                a(href=`${api.url}` target='_blank') #{api.url}
    hr