extends layout.pug

block head
    

block content
    header
        h1
            a.title(href='https://jh-node-proxy.herokuapp.com/') Node Server
    main
        content
            .about
                h3.box-title About
                p This application acts as a proxy server for several of my personal projects.  A complete list of projects connected to this server is below.
            hr
            .projects
                h3.box-title Projects
                p These projects request data from 3rd party APIs through this server.
                each project in projects
                    .project-item
                        div
                            a(href=`${project.url}` target='_blank') #{project.name}
                        div Access Point: #{project.access}
                        div Completed: #{project.completed}
                        div API's Used: 
                        ul
                            each api in project.apis
                                li 
                                    div 
                                        a(href=`${api.url}` target='_blank') #{api.name}
            hr
            .other
                h3.box-title Page Hits
                p These projects alert the server when viewed.
                each view in views
                    .view-item
                        div
                            a(href=`${view.url}` target='_blank') #{view.name}
        aside
            .admin
                h3.box-title Admin Login
                form(method='POST' action='/admin/dashboard')
                    div.form-group
                        label(for='username') User: 
                        input(type="text" name='username' autocomplete='username')
                    div.form-group
                        label(for='password') Enter Password: 
                        input(type='password' name='password' minlength=5 autocomplete='current-password' required)
                    div.button
                        button(type='submit') Submit
                    div
                        small Passcode is required for access to dashboard.
                if message
                    div.alertMessage #{message}

            hr
            .links
                h3.box-title Links
                ol
                    li
                        a(href="https://github.com/Jheller11/proxy" target='_blank') Source Code (Github)
                    li
                        a(href="https://mlab.com/" target='_blank') mLab
                    li
                        a(href="https://dashboard.heroku.com/apps" target='_blank') Heroku

    footer

